//- empire.jade
extends ./layout.jade
block script
  script.
    var force = function(side){
      var midichlorians = 20000;
      return side * midichlorians;
    }  
block title
  h1 Luke join Us! We have capes!
block content
  pre
      |                      ...I am your father.    
      |                /][\ _/                               __                                                                     
      |               |<><>|    That's not true! That's     /,, \  
      |               /_/\_\           impossible!      \_  |- \|    
      |               /\||/ \ \_ Search your feelings,      / \ \                
      |             / / [ ]|\ \  you know it to be true!   /\  | |                  
      |             //| [_]| \\                        _/ / |  | |                                       
      |            /|||    | //                No!,No!  _| |\  | |                 
      | ===========#|\#=()-|#/ \       ==============#|\_ / __ \#/                                   
      |          |    |\  /I   |                        /     \ |                   
      |         /     | || I    \                      /~~ /\~~~\                      
      |        |      | || |     \                    |  /    \  \                     
      |        /      | || |      \                  |  |      \  \                    
      | _______\_  _ /__||__\  _ _/_________________/_  |_____ /___|                                   
