//- index.jade
extends ./layout.jade
block title
  h2 Decide you must, how to serve them best:
block content
  pre
    |              .--.
    |    ::\`--._,'.::.`._.--'/::::
    |    ::::.  ` __::__ '  .::::::
    |    ::::::-:.`'..`'.:-::::::::
    |    ::::::::\ `--' /::::::::::
    <span> Hello</span> 